header{
  background-color: blue;
  color: white;
  font-size: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userdisp{
  display: block;
}
.userhide{
  display: none;
}